{% extends "layout_Tags.twig" %}
{% block title %}Atualizar de produtos{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h3>Alterar Tags</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>COD..</th>
                <th>NOME</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form action="{{ path('update_tags', {id:tags.id}) }}" method="post">
                <td>{{ tags.id }}</td>

                <td><input type="text" name="name" class="form-control" value="{{ tags.name }}" required="required" required></td>

                <td>
                    <input type="hidden" id="id" name="id" value="{{ tags.id }}" />
                    <a href=""><button class="btn btn-success " type="submit" name="alterar" >Alterar</button></a>
                </td>

                </form>
            </tr>
            </tbody>
        </table>
        <a href="{{ path('lista_tags', {page:1 }) }}"><button class="btn btn-info " type="submit" name="voltar" >Voltar</button></a>
    </div><!-- /jumbotron -->
{% endblock %}