{% extends "layout.twig" %}
{% block title %}2º Projeto Doctrine & Silex - Code Education - Lista de produtos{% endblock %}
{% block content %}
    <div class="jumbotron">

        <table class="table table-striped">
            <thead>
            <tr>

                <th><a href="{{ url('insert') }}"><button class="btn btn-success " type="submit" name="cadastra" >Cadastar</button></a></th>
                <th><a href="{{ path('lista_category', {page:1 } ) }}"><button class="btn btn-info " type="submit" name="cadastra" >Lista de Categorias</button></a></th>

            </tr>
            </thead>
            <thead>
            <tr>
                <th>COD..</th>
                <th>NOME</th>
                <th>DESCRIÇÃO</th>
                <th>VALOR</th>
                <th></th>
                <th>AÇÕES</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                {#{{ dump(product) }}#}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.value }}</td>

                    <td><a href="{{ path('produto', {id:product.id}) }}"><button class="btn btn-info " type="submit" name="visualizar" >Visualizar</button></a></td>
                    <td><a href="{{ path('atualizar', {id:product.id}) }}"><button class="btn btn-primary" type="submit" name="alterar" >Alterar</button></a></td>
                    <td><a href="{{ path('delete', {id:product.id}) }}"><button class="btn btn-danger" type="submit" name="deletar">Deletar</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav>
            <ul class="pagination">

                {% for i in 1..((data/5)+0.8) %}
                    <li><a href="{{ path('lista_page', {page:i } ) }}">{{ i }}</a></li>
                {% endfor %}

            </ul>
        </nav>
    </div><!-- /jumbotron -->
{% endblock %}
